#legend {
        width: 10%;
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 0px solid #000;
}

#legend h4 {
        margin-top: 0;
}

#legend img {
        vertical-align: middle;
}
